.wrapper {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
  }
  
  .wrapper:hover {
    cursor: pointer;
    background-color: gray;
  }