@import "../custom.scss";

.dash-grid {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  min-height: 80vh;
  padding: 20px;
  position: fixed;
  top: 120px;
  left: 125px;

  /* Large screen */
  @media screen and (min-width: 1400px) {
    grid-template-columns: 350px 350px;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 20vh;
    padding: 20px;
    top: 200px;
    left: 300px;
  }
}

.dash-grid-header {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  min-height: 80vh;
  padding: 20px;
  position: fixed;
  top: 90px;
  left: 125px;

  /* Large screen */
  @media screen and (min-width: 1400px) {
    grid-template-columns: 350px 350px;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 20vh;
    padding: 20px;
    top: 200px;
    left: 300px;
  }
}

.grid-item {
  color: $light;
  background-color: $primary;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: 1rem;

    /* Large screen */
    @media screen and (min-width: 1400px) {
        padding: 30px;
    }
}

.grid-item:hover {
  background-color: $secondary;
  transition: 0.5s;
}

.grid-name{
    font-size: 0.8rem;
    color: $light;
    height: 50px;
}

.grid-date{
    font-size: 0.8rem;
    color: $light;
    height: 50px;
    text-align: right;
}

.checklist{
  color: $light;
  background-color: $primary;
  width: 45%;
  height: 71%;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 125px;
  display:none;
}

.Theme{
  color: $light;
  background-color: $primary;
  width: 45%;
  height: 71%;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 125px;
  display:none;
}

.GuestList{
  color: $light;
  background-color: $primary;
  width: 45%;
  height: 71%;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 125px;
  display:none;
}

.Schedule{
  color: $light;
  background-color: $primary;
  width: 45%;
  height: 71%;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 125px;
  display:none;
}

.Budget{
  color: $light;
  background-color: $primary;
  width: 45%;
  height: 71%;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 125px;
  display:none;
}

.Vendors{
  color: $light;
  background-color: $primary;
  width: 45%;
  height: 71%;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 125px;
  display:none;
}

.back-button{
  background-color: $secondary;
  position: relative;
  top: 30px;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  color: $light;
}